Repository av-belyakov/placeholder_ftp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, sync-file-readme, sync-file-docker-compose, sync-file-docker-compose-rcm

Path conditions:
  build-job: not (any of: README.md)
  sync-file-readme: any of: README.md
  sync-file-docker-compose: any of: docker-compose.yml
  sync-file-docker-compose-rcm: any of: docker-compose.rcm.yml

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  test/nats/sendrequesttoftpmodule_test.go
Due: build-job

изменил наименование модуля в клиенте NATS modified: cmd/messagebrokers/natsapi/app.go modified: internal/appversion/version.go
  cmd/messagebrokers/natsapi/app.go
  internal/appversion/version.go
Due: build-job

добавил docker-compose для gcm test modified: .gitlab-ci.yml new file: docker-compose.test-gcm.yml
  .gitlab-ci.yml
  docker-compose.test-gcm.yml
Due: build-job

Update docker-compose.test-gcm.yml
  docker-compose.test-gcm.yml
Due: build-job

переделал в Dockerfile clone с gitlab modified: Dockerfile
  Dockerfile
Due: build-job

13.03.2025 modified: docker-compose.rcm.yml modified: docker-compose.yml
  docker-compose.rcm.yml
  docker-compose.yml
Due: build-job, sync-file-docker-compose, sync-file-docker-compose-rcm

Dev now 13.03.2025
  .gitlab-ci.yml
  Dockerfile
Due: build-job

14.03.2025 modified: .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-job

14.03.2025 modified: Dockerfile modified: go.mod
  Dockerfile
  go.mod
Due: build-job

14.03.2025 modified: cmd/messagebrokers/natsapi/app.go
  cmd/messagebrokers/natsapi/app.go
  internal/appversion/version
Due: build-job

Настроить ci-cd
  .gitlab-ci.yml
  config/config_dev.yml
  config/config_prod.yml
  docker-compose.test.yml
  docker-compose.yml
Due: build-job, sync-file-docker-compose

Настроить ci-cd
  .gitlab-ci.yml
  README.md
  config/config_dev.yml
  config/config_prod.yml
  docker-compose.test.yml
  docker-compose.yml
Due: sync-file-readme, sync-file-docker-compose

Update README.md
  README.md
Due: sync-file-readme

Delete .gitlab-ci-container.yml
  .gitlab-ci-container.yml
Due: build-job

Добавить тип time в ответ модуля modified: cmd/messagebrokers/natsapi/app.go modified: cmd/messagebrokers/natsapi/helpertypes.go
  cmd/messagebrokers/natsapi/app.go
  cmd/messagebrokers/natsapi/helpertypes.go
Due: build-job

Добавить тип time в ответ модуля modified: cmd/messagebrokers/natsapi/app.go modified: cmd/messagebrokers/natsapi/helpertypes.go
  cmd/messagebrokers/natsapi/app.go
  cmd/messagebrokers/natsapi/helpertypes.go
  internal/appversion/version
Due: build-job

Добавить поле времени в предварительный ответ NATS API modified: cmd/messagebrokers/natsapi/app.go modified: internal/appversion/version modified: test/nats/sendrequesttoftpmodule_test.go
  cmd/messagebrokers/natsapi/app.go
  internal/appversion/version
  test/nats/sendrequesttoftpmodule_test.go
Due: build-job

Добавить в dockerfile переменную окружения STATUS modified: Dockerfile
  Dockerfile
  internal/appversion/version
Due: build-job

Добавить в dockerfile переменную окружения STATUS modified: Dockerfile
  Dockerfile
  internal/appversion/version
  test/nats/sendrequesttoftpmodule_test.go
Due: build-job

chore: Изменить настройки конфигурационных файлов modified: config/config_dev.yml
  config/config_dev.yml
  config/config_prod.yml
Due: build-job

doc: Поправить описание модуля modified: README.md
  README.md
Due: sync-file-readme
